.song_container{
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px 10px 10px;
    padding-bottom: 30px;
    position: sticky;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    @media(min-width: 768px){
        backdrop-filter: unset;
        background-color: white;
    }

    img{
        width: 35%;
        margin-right: 10px;
        background-color: grey;
        border-radius: 6px;
    }

    .song_details{
        width: 100%;
        display: flex;
        align-items: flex-start;
        position: relative;
        @media(min-width: 768px){
            // flex-direction: column;
        }

        img{
            @media(min-width: 768px){
                width: 40%;
                margin-bottom: 15px;
            }
        }

        .info{
            @media(min-width: 768px){
                margin-bottom: 15px;
            }
        }

        h3{
            margin: 10px 0 0;
            font-size: 20px;
            @media(min-width: 768px){
                font-size: 30px;
            }
        }

        p{
            margin: 5px 0 0;
            @media(min-width: 768px){
                font-size: 28px;
            }
        }

        .playtime{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;

            p{
                margin: 0;
                font-size: 15px;
                color: grey;
            }

            input {
                width: 100%;
            }
        }
    }

    .buttons{
        margin-top: 30px;

        button{
            background-color: unset;
            border: none;
        }

        .play_pause{
            padding: 0 20px;
            background-color: grey;
            border: 1px solid grey;
            padding: 10px;
            border-radius: 50%;
            margin: 0 20px 0;
        }
    }

    audio{
        margin-top: 15px;
        background-color: grey;
        width: 100%;
        // z-index: -1;

        @media(min-width: 768px){
            // position: absolute;
            // top: 150px;
            // right: 15px;
            // width: 56%;
        }
    }

    .progressBar{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: auto;
        margin-top: 20px;

        input{
            width: 190px;
            margin: 0 10px;
        }

        p{
            font-weight: bolder;
        }
    }

    .playControls{
        width: 75%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg{
            height: 3.0rem;
            width: 3.0rem;
        }
    }
}