.results{
    text-align: center;
    width: 100%;
    font-size: 22px;
    font-family: sans-serif;
    border-bottom: 1px solid grey;
    // border: 1px solid green;
}

.results:last-child{
    border-bottom: unset;
}